{% extends "home.html" %}
{% load static %}
{% block content %}


<section id="projects" class="py-20 bg-white text-center">
  <p class="text-lg text-gray-500 mb-2" data-aos="fade-down">Browse My Recent</p>
  <h1 class="text-4xl font-bold mb-12" data-aos="fade-down">Projects</h1>

  <div class="flex flex-wrap justify-center gap-8 px-6"> 
    
    <div class="bg-white shadow-md rounded-2xl p-6 w-80 hover:shadow-xl transition-all duration-300" data-aos="fade-up">
      <img src="{% static 'portfolio/assets/pro.png' %}" alt="Project 1" class="rounded-xl mb-4">
      <h2 class="text-xl font-semibold mb-4">Youtube Video Analysis</h2>
      <div class="flex justify-between gap-4">
        <a href="https://github.com/sahilDas04/Youtube_Video_Analysis" target="_blank" class="flex-1 border border-gray-800 text-gray-800 py-2 rounded-full hover:bg-gray-800 hover:text-white transition">Repo</a>
      </div>
    </div>

    <div class="bg-white shadow-md rounded-2xl p-6 w-80 hover:shadow-xl transition-all duration-300" data-aos="fade-up" data-aos-delay="100">
      <img src="{% static 'portfolio/assets/proj1.png' %}" alt="Project 2" class="rounded-xl mb-4">
      <h2 class="text-xl font-semibold mb-4">Student Management System</h2>
      <div class="flex justify-between gap-4">
        <a href="https://github.com/sahilDas04/student_management_system" target="_blank" class="flex-1 border border-gray-800 text-gray-800 py-2 rounded-full hover:bg-gray-800 hover:text-white transition">Repo</a>
      </div>
    </div>

    <div class="bg-white shadow-md rounded-2xl p-6 w-80 hover:shadow-xl transition-all duration-300" data-aos="fade-up" data-aos-delay="200">
      <img src="{% static 'portfolio/assets/proj3.jpg' %}" alt="Project 3" class="rounded-xl mb-4">
      <h2 class="text-xl font-semibold mb-4">Github AI Agent</h2>
      <div class="flex justify-between gap-4">
        <a href="https://github.com/sahilDas04/Github" target="_blank" class="flex-1 border border-gray-800 text-gray-800 py-2 rounded-full hover:bg-gray-800 hover:text-white transition">Repo</a>
      </div>
    </div>
  </div>

  <div class="mt-16" data-aos="fade-up" data-aos-delay="300">
    <img
      src="{% static 'portfolio/assets/arrow.png' %}"
      alt="Arrow icon"
      class="mx-auto w-8 cursor-pointer animate-bounce"
      onclick="location.href='./#contact'"
    />
  </div>
</section>


{% endblock %}
